.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  button {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: #F1F1F1;
  }
  p {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }
}

.finish {
  button {
    background: #0E927A;
    border-radius: 4px;
    border: none;
    padding: 6px 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
  }
}