@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .member {
        @apply ml-[-8px] border-[#FFFFFF] w-8 h-8 rounded-full
    }
    .header-button {
        @apply bg-[#F1F1F1] w-8 h-8 rounded-full bg-[#F1F1F1]
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #F7F8FA;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #203B54;
    margin: 0;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #203B54;
    margin: 0;
}

p, select > option, select {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #203B54;
}

hr {
    border: 1px solid #D1D5DB;
    margin: 0;
}