.list {
  padding: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  color: #63798D;

  li {
    margin-bottom: 14px;
    background-image: url(/list_dot.svg);
    background-repeat: no-repeat;
    background-position-y: 10px;
    padding-left: 20px;
  }

  li::marker {
    content: '';
  }

  // add class dependency instead of nth-child
  li:nth-child(4) {
    background-image: url(/active_list_icon.svg);
    background-repeat: no-repeat;
    background-position-y: -7px;
    padding-left: 20px;
    color: #203B54;
  }
  li:nth-child(4)::marker{
    content: '';
  }

}