.sidebar {
  width: 270px;
  height: max-content;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  border-radius: 20px;

  padding: 12px 12px 4px 12px;
}

.call {

  margin-bottom: 31px;
  background: #203B54;
  border-radius: 8px;
  padding: 24px 10px 24px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    color: white;
    margin: 0;
  }

  #beta {
    width: 58px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    margin-bottom: 16px;

    font-size: 14px;
    line-height: 22px;
  }
  #callText {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  div {
    color: white;
    background-color: #0E927A;
    width: 152px;
    height: 34px;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      margin-left: 10px;
    }
  }
}

.option {
  margin: 18px 0 18px 0;
  p {
    display: inline;
    margin-left: 8px;
  }
}