.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  .buttons {
    button {
      width: 32px;
      height: 32px;
      border: none;
      background-color: #F1F1F1;
      border-radius: 50px;
      margin-left: 12px;
    }
  }
}

.info {
  display: flex;
  align-items: center;

  button {
    padding: 11px;
    border-radius: 50%;
    background-color: #E3FAF5;
    border: none;
    height: 50px;
    width: 50px;

    margin: 0 10px 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #0E927A;
  }
}
