.teachersNote {
  padding: 20px 52px 20px 20px;
  border-radius: 8px;
  background: linear-gradient(-45deg,transparent 1.5em, #E3FAF5 0);
  position: relative;

  h2 {
    color: #0E927A;
  }
}

.teachersNote::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 2em;
  height: 2em;
  background: #6DE2C9;
  background: linear-gradient(-45deg,transparent 1.5em, #6DE2C9 0);
  border-top-left-radius: 8px;
}