.word {
  background-color: #CDEDFA;
  padding: 3px 12px;
  border-radius: 4px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #203B54;

  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}